<div class="row">
  <div class="col s3 col m3">
      <app-sidemenu></app-sidemenu>
  </div>
  <div class="col s9 col m9">
    <app-navbar></app-navbar>
<div class="body"> 
        <div class="col s6 col m4 col l4 border" *ngFor='let item of filterData'>
            <div class="card">
                <div class="card-image waves-block">
                  <img class="activator" src='{{item.img_url}}'>
                </div>
                <div class="card-content">
                  <span class="card-title">{{item.name}}</span>
                  <table>
                    <thead>
                      <tr class="padding">
                          <th class="">{{item.name}}</th>
                        
                          <th class="discount">&#8377;{{item.price}}</th>
                      </tr>
                    </thead>
                    <div>
                      <i class="material-icons right join-cart ">add_shopping_cart</i>
                      <i class="material-icons right join-cart" (click)='addToCart(item)'>add_shopping_cart</i>
                    </div> 
                    
                  </table>
                   
                </div>
              </div>
        </div>
        <div class="notFound" *ngIf='noData'>
          <h6 class="alert-text">No Data Found</h6>
        </div>
        <div class="notFound" *ngIf='httpError'>
          <h6 class="alert-text">Server Error: Failed to Load Items. Please Try again Later!!!!</h6>
        </div>
</div>
</div>
</div>


